*{
    margin: 0;
    padding: 0;
}

html, body{
    font-family: helvetica, arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;

    max-width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: seashell;
    list-style-type: none;
}

/***** nav Section ******/

header {
    background-image: url("/Image/girl-drinking-tea.webp");
    background-position: contain;
    height: 700px;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

#logo {
    height: 50px;
    margin-left: 10px;
    padding: 20px 10%;
    justify-content: flex-start;
}

#nav-bar {
    padding: 30px 3%;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

nav li{
    display: inline-block;
    padding: 0px 20px;
}

nav li a:hover{
    color:#E46567;
    transition: all 0.3s ease 0s;
}

/***** tea of the month Section ******/

.month {
    width: 1000px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

h2 {
    font-size: 35px;
    padding-top: 60px;
    padding-bottom: 20px;
}

.sub-text {
    padding-bottom: 20px;
}

div p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.month div {
    padding: 10px 2px;
}

.month a:hover {
    color: #E46567;
    transition: all 0.3s ease 0s;
}

/***** Location Section ******/

.locations {
    background-image: url("/Image/img-locations-background.webp");
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
}

.location {
    display: flex;
    justify-content:center;
}

h3 {
    font-size: 35px;
    font-family: sans-serif;
    padding-bottom: 15px;
    padding-top: 80px;
    margin: 0 auto;
}

.box{
    background-color: #000000;
    width: 300px;
    margin-right: 20px;
    margin-left: 20px;
}

.box:hover {
    color: #E46567;
    transition: all 0.3s ease 0s;
}

.box:active {
    border: 1px solid #E46567;
}

.heading {
    font-weight: bold;
}

/***** footer Section ******/

footer {
    height: 200px;
}

h4 {
    font-size: 35px;
    margin-top: 10px;
    padding-bottom: 20px;
}

h5 {
    padding: 20px 0;
    font-weight: 400;
}

.copy {
    padding-left: 20px;
    padding-bottom: 20px;
    text-align: left;
}

/***** Media Queries ******/

/* Large Devices (1200px+) */

@media (min-width: 1200px) {
    p {
        text-align: center;
    }
}

/* Medium Devices (580px-990px) */

@media (min-width: 580px) and (max-width:990px) {  

   /***** nav Section ******/
    header {
        background-position: center center;
        background-size: 1000px;
        background-repeat: no-repeat;
        height: 500px;
        width: 100%;
    }

   /***** tea of the month Section ******/

    .month {
        width: 800px;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
    }

    .tea {
        margin-right: 20px;
    }
    
    /***** Location Section ******/

    .locations {
        height: 500px;
    }

    .location {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    h3 {
        padding-top: 60px;
        padding-bottom: 55px;
    }

    .box{
        width: 220px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

/* Small Devices ( 320px-579px) */

@media (max-width: 579px) {
  
   /***** nav Section ******/
    header {
        background-position: top center;
        background-size: 500px;
        background-repeat: no-repeat;
        height: 300px;
        width: 100%;
    }

    #logo {
        height: 40px;
    }

   /***** tea of the month Section ******/

    .month {
        flex-wrap: nowrap;
        align-content: center;
    }

    h2 {
        font-size: 30px;
    }

    .sub-text {
        padding-bottom: 20px;
    }

    div p {
        padding-top: 10px;
        padding-bottom: 10px;
    }


   /***** Location Section ******/

    .locations {
        height: 800px;
    }

    .location {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    h3 {
        font-size: 30px;
    }

    .box{
        width: 250px;
        margin: 20px;
    }

   /***** footer Section ******/

    h4, h5, .copy {
        text-align: center;
    }

    footer {
        height: 150px;
    }
    
    h4 {
        font-size: 30px;
    }
    
    h5 {
        padding: 10px 0;
        font-weight: 400;
        font-size: 16px;
    }
    
}